<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Thread</title>
    </head>
    <body>
        <h1>Thread</h1>
        <a th:href="@{/create}">New Post</a>
        <hr>
        <div th:each="thread : ${threads}">
            ID : <span th:text="${thread.id}"></span><br>
            Name : <span th:text="${thread.name}"></span><br>
            Message : <span th:text="${thread.message}"></span><br>
            <form method="post">
                <input type="hidden" name="id" th:value="${thread.id}">
                <input type="submit" value="Edit" formaction="edit">
            </form>
            <hr>
        </div>
    </body>
</html>